 .page {
     color: $primary-text-color;
     font-family: Roboto, sans-serif;

 }

 .link,
 .logo,
 .project-item {
     text-decoration: none;
 }


 .list {
     padding: 0;
     margin: 0;
     list-style: none;
 }

 .icon {
     fill: $social-color;
 }

 
 h1,
 h2,
 h3,
 h4,
 h5,
 ul,
 p {
     padding: 0;
     margin: 0;
 }

 img {
     display: block;
     width: 100%;
     height: auto;
 }
.container {
    max-width: 480px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width: 768px) {
        max-width: 768px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 1200px;
    }
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;

    @media screen and (max-width: 1199px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
@media screen and (min-width: 768px) {
//  .benefits-list,
 .our-work,
 .our-team {
  display: flex;
    }
}
 .container {
    outline: 2px solid tomato;
     max-width: 480px;
     margin: 0 auto;
     padding-left: 15px;
     padding-right: 15px;

     @media screen and (min-width: 768px) {
         max-width: 768px;
     }

     @media screen and (min-width: 1200px) {
         max-width: 1200px;
     }
 }

 .section {
     padding-top: 94px;
     padding-bottom: 94px;

     @media screen and (max-width: 1199px) {
         padding-top: 30px;
         padding-bottom: 30px;
     }
 }