
    $primary-text-color: #212121;
    $secondary-text-color: #757575;
    $accent-color: #2196F3;
    $primary-white-color: #F5F5F5;
    $secondary-white-color: #FFFFFF;
    $social-color: #AFB1B8;
    $bg-color-secondary: #F5F4FA;
    $bg-footer: #2F303A;
    $overlay-color: #188CE8;
